body{
    margin: 0
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

.custom-menu .ant-menu-item {
  transition: opacity 0.3s ease, padding 0.3s ease;
}

.custom-menu .ant-menu-item {
  opacity: 1;
}

.custom-menu .ant-menu-item-inline-collapsed {
  opacity: 0;
  padding-left: 16px; /* Сжать элементы меню */
}

.custom-menu .ant-menu-item-selected {
  background-color: rgba(255, 255, 255, 0.08);
}
